
<h2>Fornecedores cadastrados</h2>

<% if @provider.empty? %>
    Nenhum fornecedor cadastrado
<% else %>
    <% @provider.each do |p|%>
        <%= link_to(p.fantasy_name, provider_path(p.id)) %>
    <% end %>
<% end %>