<h1><%= @category.name %></h1>

<h2>Categoria: <%= @category.name %></h2> <br/>

<p> Galpões:
    <% @category.warehouse_categories.each do |w| %>
      <h3><%= w.warehouse.name %></h3>
    <% end %>
</p> <br/>
